<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Курьер</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<hr>
<a href="/operator">Перейти на страницу для оператора Call-центра</a>
<hr>
<table class="table">
    <tr>
        <th>Id</th>
        <th>OrderId</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <th:block th:each="task : ${taskList}">
    <tr>
        <td th:text="${task.getId()}"></td>
        <td th:text="${task.getOrderId()}"></td>
        <td th:text="${task.getDescription()}"></td>
        <td>
            <a th:href="@{/postpone(id=${task.getId()})}">Не успеваю</a>
        </td>
    </tr>
    </th:block>
</table>
<hr>
</div>
</body>
</html>