<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Курьер</title>
</head>
<body>

<h1>Hello Courier!</h1>
<hr>
<a href="/operator">Оператор Call-центра</a>
<hr>
<table>
    <tr>
        <th>Id</th>
        <th>OrderId</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <th:block th:each="task : ${taskList}">
    <tr>
        <td th:text="${task.getId()}"></td>
        <td th:text="${task.getOrderId()}"></td>
        <td th:text="${task.getDescription()}"></td>
        <td>
            <a th:href="@{/postpone(id=${task.getId()})}">Не успеваю</a>
        </td>
    </tr>
    </th:block>
</table>
<hr>
</body>
</html>