<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Express 42</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <hr>
    <h3>Express 42</h3>
    <hr>
    <a href="/courier">Страница для курьера</a>
    <hr>
    <a href="/operator">Страница для оператор Call-центра</a>
    <hr>
</div>
</body>
</html>