<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оператор Call-центра</title>
</head>
<body>

<h1>Hello Operator!</h1>
<hr>
<a href="/courier">Курьер</a>
<hr>
<table>
    <tr>
        <th>Id</th>
        <th>OrderId</th>
        <th>Date</th>
    </tr>
    <th:block th:each="task : ${taskList}">
        <tr>
            <td th:text="${task.getId()}"></td>
            <td th:text="${task.getOrderId()}"></td>
            <td th:text="${task.getDate()}"></td>
        </tr>
    </th:block>
</table>

<hr>

</body>
</html>